* {
    font-family: "Beiruti", serif;
}

.slider_seaction {
    background-color: aliceblue;
}

[dir="rtl"] .carousel {
    direction: rtl;
}

[dir="ltr"] .carousel {
    direction: ltr;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.five-carousel {
    background-color: #FDF8F3;

}



@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

#testimonial-slider {
    display: flex;
    transition: transform 0.5s ease;
    overflow: hidden;
    white-space: nowrap;
}

.testimonial {
    flex: 0 0 100%;
    text-align: center;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.testimonial-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.testimonial-title {
    color: gray;
}

.testimonial-feedback {
    font-size: 1rem;
    margin-top: 0.5rem;
}


@media (min-width: 1024px) {
    #testimonial-slider>div {
        min-width: calc(100% / 3);

    }
}


.swiper-container {
    height: 300px;
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;

}


.swiper-button-prev,
.swiper-button-next {
    top: 50%;
    transform: translateY(-50%);

    z-index: 10;

}

.swiper-button-prev {
    position: absolute;
    top: 90%;

    background-color: red;


}

.swiper-button-next {
    left: 50%;
    bottom: -50px;
    transform: translate(0, 0);

}

.swiper-pagination {

    display: flex;
    justify-content: start;
    padding-right: 40px;

}

.swiper-pagination-bullet-active {
    background-color: black;
}

.backgroundImage {
    background-image: url("img/imgpsh_fullsize_anim.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.gradient-bg {
    background: linear-gradient(to left, #B9A06A, #413620);
}